name: LaTeX

on:
  push:
  workflow_dispatch:

jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build LaTeX
        uses: xu-cheng/latex-action@v4
        with:
          root_file: brandon-farrell-cv.tex
          latexmk_use_xelatex: true

      - name: Generate PNGs
        run: |
          sudo apt install poppler-utils
          pdftoppm -png -singlefile brandon-farrell-cv.pdf brandon-farrell-cv

      - name: Check output
        run: ls

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            brandon-farrell-cv.pdf
            brandon-farrell-cv.png
